<%= render 'list', user: @user %>
<%= render 'books/list', book: @book %>

<% @books.each do |book| %>
<div>
  <%= link_to books_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <p>User profile：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>
