<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= link_to "Update User", edit_user_path(@user) %></p>
</div>

<% @books.each do |book| %>
<div>
  <%= link_to user_path(book.user) do %>
    <%= image_tag book.user.get_profile_image(100,100) %>
  <% end %>
  <p>name：<%= book.body %></p>
</div>
<% end %>