<h1>Books</h1>
<% @books.each do |book| %>
  <div>
    <%= link_to "Show", book_path(book.id) %>
    <p>User_image：<%= image_tag 'sample-author1.jpg' %></p>
    <p>Title：<%= book.title %></p>
    <p>Opinion：<%= book.body %></p>
    <p>name：<%= book.user.name %></p>
  </div>
<% end %>