<%= render 'users/list', user: @user %>
<%= render 'list', book: @book %>

<h2>Books</h2>
<% @books.each do |book| %>
  <div>
    <%= link_to user_path(book.user.id) do %>
      <%= image_tag book.user.get_profile_image(50,50) %>
    <% end %>
    <%= link_to book_path(book.id) do %>
      <p><%= book.title %></p>
    <% end %>
    <p><%= book.body %></p>
  </div>
<% end %>