<%= render 'users/list', user: @user %>
<%= render 'list', book: @book %>

<h2>Book detail</h2>
<div>
  <%= link_to user_path(@book.user.id) do %>
    <%= image_tag @book.user.get_profile_image(50,50) %>
  <% end %>
  <%= link_to book_path(@book.id) do %>
    <p><%= @book.title %></p>
  <% end %>
  <p><%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Back", '/books' %>
    <%= link_to "Destroy", book_path(@book.id), method: :delete %>
  <% end %>
</div>
